@import "scss/settings.scss";

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  @include font-size(18px);
}

.sticky-vegeta {
  position: fixed;
  bottom: -600px;
  right: 0;
}
